@font-face{
    font-family: SpaceGrotesk-Regular;
    src: url(../assets/Font/SpaceGrotesk-Regular.ttf);
}

@font-face{
    font-family: SpaceGrotesk-Bold;
    src: url(../assets/Font/SpaceGrotesk-Bold.ttf);
}

* {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

nav img {
    padding-bottom: 2px;
    width: 120px;
    height: 120px;
    float: left !important;
}

nav {
    z-index: 10000;
    height: 65px;
    display: flex;
    background-color: rgb(239, 246, 252);
    padding: 0 4vw;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0px;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0px;
    float: right;
}

nav ul li {
    padding-top: 4px;
    list-style: none;
}

nav ul li a {
    /* letter-spacing: 0px; */
    margin-left: 2vw;
    font-family: SpaceGrotesk-Regular;
    font-size: 13px;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: black;
}

nav ul a:hover {
    color:#5b71f1;
    border-bottom: 2px solid #5b71f1;
    transition: 0.15s ease-in-out;
}

nav a.button {
    font-family: SpaceGrotesk-Bold;
    border: 2px solid #485019;
    background-color: #E7FF57;
    border-radius: 5px;
    padding: 3px 6px;
    /* padding-bottom: 1.5px; */
    color: #000000 !important;
}

.active {
    color: black;
    border-bottom: 2px solid #5b71f1;
    width: 100%;
}

nav a.button:hover {
    background-color: #5b71f1;
    border: 2px solid #5b71f1;
    transition: 0.2s ease-in-out;
    color: #ffffff !important;
}
/* End Navbar */

/* Header */
section.header{
    padding: 100px;
    text-align: center;
}

.header h1 {
    font-family: SpaceGrotesk-Bold;
    font-size: 30px;
    padding: 5px;
}

.header h4 {
    font-family: SpaceGrotesk-Regular;
}

section.package {
    padding: 0px 100px 70px;
}

.container {
    gap: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.card {
    border-radius: 10px;
    width: 50%;
    padding: 15px 20px;
    /* border: 2px solid #000000; */
    background-color: #E7FF57;
    padding-bottom: 15px;
    transition: 1s;
}

.card h2 {
    padding: 10px;
    text-align: center;
    font-family: SpaceGrotesk-Bold;
    font-size: 20px;
}

.card ul {
    margin: 0px 30px;
}

.card ul li {
    font-family: SpaceGrotesk-Regular;
    font-size: 12px;
}

.card ul h4 {
    font-family: SpaceGrotesk-Bold;
    text-align: center;
    padding: 10px;
}

.card ul a {
    font-family: SpaceGrotesk-Bold;
    text-decoration: none;
    background-color: #5D12D0;
    color: white;
    padding: 5px 8px !important;
    border-radius: 5px;
}

.card .button {
    display: grid;
    width: 40%;
    text-align: center;
    margin: auto;

}

.card a.button:hover {
    background-color: #5b71f1;
    transition: 0.2s ease-in-out;
    color: #ffffff !important;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px #d8d8d8 ;
    transition: all 0.2s ease-in-out;
    
 
}

/* Footer */
footer {
    max-height: 30%;
    display: flex;
    background-color:#E7FF57;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    padding-left: 100px;
    padding-right: 100px;
    bottom: 0;
}

footer h4 {
    font-family: SpaceGrotesk-Regular;
    font-size: 12px;
    max-width: 50%;
}

footer img {
    /* border: 2px solid black; */
    width: 100px;
    height: 50px;
    object-fit:cover;
}